<div id="content" class="row">
    <h2>Thanks for registering with SimpleTodos!</h2>

    <p>Your client id is <strong>{{clientId}}</strong></p>
    <p>and your client secret is <strong>{{clientSecret}}</strong></p>

    <p>Make sure you keep these details secret.</p>
</div>