<div id="content" class="row">
    <h2>Register Here!</h2>
    <form action="/register" method="post" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Please Enter Username" required>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="e.g. asmith@mymail.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Please Enter Password" required>
        </div>

        <input type="submit" value="Register" class="btn btn-primary">
    </form>
</div>

